<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxQueryStringLength="65536" />
  </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="65536" maxQueryString="65536" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
